*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bottom-containor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#music-card{
    border: 1px solid black;
    text-align: center;
}